server:
  port: ${PORT:8082}

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: nonconformity-service
          uri: lb://nonconformity-service
          predicates:
            - Path=/non-conformities/**,/nonconformities/**
        - id: action-service
          uri: http://localhost:3001
          predicates:
            - Path=/actions/**
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8085/realms/iso9001-realm

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"

